/* spin3D.css
  Keyframes pour animation 3D de rotation complète sur X ou Y */

@keyframes spinX360 {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}

@keyframes spinY360 {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
